<div class="container-fluid">
  <div class=col-sm-12>
    <h1 class="inline">Locations</h1>
<!--    <button class="btn btn-default" (click)="addEmployee()">Add</button>-->
  </div>

<div class="row">
  <div class="col-sm-8">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Id</th>
        <th (click)="sort('name')">Name</th>
        <th (click)="sort('function')">Funktion</th>
        <th>Details</th>
      </tr>
      </thead>
      <tbody>
<!--      <tr *ngFor="#employee of employes" (click)="onSelect(employee)"-->
<!--               [class.selected]="employee === selectedEmployee">-->
<!--        <th scope="row">{{employee.id}}</th>-->
<!--        <td>{{employee.firstName}}</td>-->
<!--        <td>{{employee.lastName}}</td>-->
<!--        <td>{{employee.email}}</td>-->
<!--        <td><button class="btn btn-sm btn-danger" (click)="removeEmployee(employee)">X</button></td>-->
<!--      </tr>-->
      <tr *ngFor="let location of locations">
        <td>{{location.id}}</td>
        <td>{{location.name}}</td>
        <td>{{location.function}}</td>
        <td>
          <button class="btn btn-default"> <a routerLink="/detail/{{location.id}}">Details</a></button>
        </td>
      </tr>
      <tr>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</div>
